/* font style */
body{
    font-family: 'Open Sans', sans-serif;
}
/* nav related styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-title{
    color:#181818;
font-size: 45px;
font-weight: 800;
}
.mary{
    color: #FD6E0A;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;

}
nav a{
    text-decoration: none;
    color: #474747;
}
 .primary-button{
    /* width: 150px; */
    /* height: 64px; */
    flex-shrink: 0;
    border: 0;
    border-radius: 5px;
    background: #FD6E0A;
    color:#FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 30px;

 }
 /* header related design */
 .header{
    background: #FFF8F3;
 }
 .banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
 }

 .second-button{
    flex-shrink: 0;
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    color:#FD6E0A;
    background-color: #FFF8F3;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 30px;
    margin-left: 10px;
 }
 .profile-picture{
    width: 500px;
 }